body {
    background-color: darkslateblue;
    color: white;
}



.interface{
    display: flex;
    flex-direction: row;
    justify-items: stretch;
    align-items: stretch;
    flex-grow: 1;
    height: 100%;

    
}
.navigation{
    width: 20%;
   
    align-self: stretch;
    outline-color: black;
    outline-style: solid;
    outline-width: 2px;
}

.news {
    width: 60%;
    outline-color: black;
    outline-style: solid;
    outline-width: 2px;
}
.posts{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    padding: 1em;

}
.post {
    
    border: 2px;
    outline-color: black;
    outline-style: solid;
    outline-width: 2px;

    align-items:baseline;
    justify-content: center;

}

.aside {
    width: 20%;
    
    align-self: stretch;
    outline-color: black;
    outline-style: solid;
    outline-width: 2px;
}

.registration {
    border: 2px;
    outline-color: black;
    outline-style: solid;
    outline-width: 2px;

    align-items:baseline;
    justify-content: center;
}