<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main_page</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="top">Top bar</div>
    <header>Menu</header>

    <div class="interface">
    
    

        <div class="navigation">

        <a href="{{ url_for('registration') }}" method="GET">registration</a>
        <a href="{{ url_for('post') }}" method="GET">Make a post</a>       
        <a href="{{ url_for('login') }}" method="GET">Login</a>
        </div>
        
        
        
        <div class="aside">
            smth
        </div>

        <div class="user"></div>
    </div>
    bottom
</body>
</html>