<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main_page</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
    <header>Menu</header>
    <nav></nav>

    <section>
        <input type="text">
    </section>

    
    <section>Content
        <article>
            {% for item in news %}
            <div class="news-item">
                <h2 class="nes-item__title" onclick="getContent({{ item_content }})">
                {{ item }}
                </h2>
                
            </div>
            {% endfor %}
        </article>
    </section>
    <aside></aside>
    <footer></footer>
</body>
</html>